.container
  .row
    %h2
      Enrollment for
      = @registration.course.name
      ,
      = @registration.course.semester
      = @registration.course.year
    %p
      The enrollment deadline for this course is
      =@registration.course.enrollment_deadline

    -if @registration.course.description
      .row
        %h5 Course description
        %p
          =@registration.course.description
  = render partial: 'form'
