.container
  .row
    .twelve.columns
      %h2
        Welcome to GroupBy

  .row
    .twelve.columns
      %p
        This is a tool to help teachers assign students to groups. It automates signing up and will distribute all registered students according to the teacher's preferences.

  .row
    .twelve.columns
      %h4 How does it work
      %p The steps are as follows:
      %ol
        %li Add GroupBy as an LTI tool on ISIS
        %li Wait for students to sign up through ISIS
        %li Set your preferences for how to distribute students
        %li Let the algorithm do the hard word (i.e. click a button and wait a minute)

  .row
    .twelve.columns
      %p 
        For a walk-through of how to setup GroupBy for your course, please check this pdf document:
        %strong TODO ADD THE PDF