.container
  %p#notice= notice

  - if @course.closed
    .row
      %h2
        Result of distribution
        - @groups.each do |group|
          %h5= group.name
          .row
            %ul
              - group.students.each do |student|
                %li= student.name
