.container
  %p#notice= notice

  - if @course.closed
    %h2
      Results
    %p
      The results of the assignment are:
    - @course.groups.each do |group|
      %h5= group.name
      - group.students.each do |student|
        %p= student.name
